/* livre centré fonctionnel*/
/* si possible : centré en responsive;

/*background et mise en page générale*/

body {
	background-image: url("img/fzm-canvas-texture.jpg");
	margin: auto;
}

.livre {
	background-image: url("img/single-page.png");
	background-repeat: no-repeat;
	height: 630px;
	width: 930px;
	margin: 10% auto;
	display: flex;
}

/*menu de la page de gauche */

.pagegauche {
		width: 370px;
		height: 530px;
		overflow: auto;
		overflow-x: hidden;
		margin: 40px 0 0 50px;
}

nav h1 {
	text-align: center;
	font-size: 30px;
	margin-bottom: 0px;
}

nav h2 {
	text-align: center;
	font-size: 20px;
	font-weight: normal;
	margin-top: 10px;
	margin-bottom: 40px;
}

nav li {
	list-style-type: none;
	text-indent: -20px; 
}

nav a {
	text-decoration: none;
	color:black;
}

span {
	font-weight: 600;
}

/* sommaire déroulant */
nav ul ul {
	display:none;
}

nav li:hover > ul {
	display:block;
}

/* fin du sommaire */

/*page de droite*/

.pagedroite {
		width: 370px;
		height: 530px;
		overflow: auto;
		overflow-x: hidden;
		margin: 40px 0 0 60px;
}

.pagedroite li {
	list-style-type: none;
	text-indent: -20px; 
	margin-bottom:5px;
}

.pagedroite a {
	text-decoration: none;
	color:black;
}

audio {
	margin: 0 auto;
	display: inherit;
}

p {
	text-indent: 20px;
	margin-bottom: 0;
	text-align: justify;
	margin-left: 10px;
	margin-right: 15px;
}

.dialogue {
	margin: 0;
	text-indent: 0px;
	margin-left: 10px;
	margin-right: 15px;
}

.chant {
	text-align: center;
	font-style:italic;
	margin: 0;
	text-indent: 0px;
	}

.hrp {
	font-family: 'Euphoria Script', cursive;
	font-size: 18px;
	text-indent: 0px;
	text-align: center;
	margin-bottom: 20px;
	}

/*Différents styles*/ 

.aerelloth {
	font-family: 'Calligraffitti', cursive;
	font-size: 14px;
	}

.hattie {
	font-family: 'Indie Flower', cursive;
	font-size: 14px;
	}

.mallaur {
	font-family: 'Tangerine', cursive;
	font-size: 25px;
	}	

.sullaur {
	font-family: 'Bilbo Swash Caps', cursive;
	font-size: 20px;
	}

.anah {
	font-family: 'Bad Script', cursive;
	font-size: 14px;
	line-height: 22px;
	}

.euphoria {
	font-family: 'Euphoria Script', cursive;
	font-size: 20px;
	}



/*Module de traduction elfique ^o^ */

/*a.info {
	 position: relative;
	 color: black;
	 text-decoration: none;
	 border-bottom: 1px grey dotted;
}

a.info span {
	 display: none; 
}

a.info:hover {
	 background: none; 
	 z-index: 500; 
	 cursor: crosshair; 
}

a.info:hover span {
	 display: inline; 
	 position: absolute;
	 white-space: nowrap; 
	 top: 30px; 
	 left: -25px;
	 background: #FDF0D9;
	 color: #00BAFF;
	 padding: 3px 20px 3px 0;
	 border: 1px solid #00BAFF;
	 border-left: 4px solid #00BAFF;
	 text-align:center;
	 font-weight: normal;
}*/

.tooltip {
	font-weight: normal;
	border-bottom: 1px dotted grey;
}

/* Responsive */
@media screen and (max-width:930px){
	.livre {
		background-image: url("img/responsive.png");
		background-position: center center;
		background-repeat: no-repeat;
		background-size: 80% auto;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		height: 110vw;
		width: 100%;
	}

	.pagegauche {
		display: block;
		height: auto;
		margin-top: 100px;
		overflow-x: hidden;
		overflow-y: auto;
		width: 60%;
		margin-left: 0;
	}

	.pagedroite {
		height: 600px;
		margin: 0;
		overflow-x: hidden;
		overflow-y: auto;
		width: 60%;
	}
}

@media screen and (max-width:850px){
	.pagegauche {
		margin-top: 70px;
	}

	.pagedroite, .pagedroite > div {
		height: 560px;
	}
}

@media screen and (max-width:800px){
	.pagegauche {
		margin-top: 60px;
	}

	.pagedroite, .pagedroite > div {
		height: 530px;
	}
}

@media screen and (max-width:750px){
	.pagegauche {
		margin-top: 50px;
	}

	.pagedroite, .pagedroite > div {
		height: 480px;
	}
}

@media screen and (max-width:700px){
	.pagegauche {
		margin-top: 40px;
	}

	.pagedroite, .pagedroite > div {
		height: 450px;
	}
}

@media screen and (max-width:650px){
	.pagegauche {
		margin-top: 35px;
	}

	.pagedroite, .pagedroite > div {
		height: 410px;
	}

	.pagedroite h1 {
		margin-top: 15px;
	}
}

@media screen and (max-width:600px){
	.pagegauche {
		margin-top: 20px;
	}

	.pagegauche h2 {
		margin-bottom: 20px;
	}

	.pagedroite, .pagedroite > div {
		height: 380px;
	}

	.pagedroite h1 {
		margin-top: 10px;
	}
}

@media screen and (max-width:550px){
	.pagegauche h1 {
		margin-top: 20px;
		font-size: 25px;
	}

	.pagegauche h2 {
		font-size: 15px;
	}

	.pagedroite, .pagedroite > div {
		height: 360px;
	}
}

@media screen and (max-width:500px){
		.livre {
		background-size: 100% auto;
		height: 140vw;
		margin-top: 0;
	}

	.pagegauche h1 {
		margin-top: 40px;
	}

	.pagegauche, .pagedroite {
		width: 80%;
	}

	.pagedroite, .pagedroite > div {
		height: 400px;
	}
}

@media screen and (max-width:400px){

	.pagegauche h1 {
		font-size: 20px;
	}

	.pagegauche h2 {
		font-size: 15px;
	}

	.pagegauche ul {
		font-size: 14px;
	}
	
	.pagegauche ul ul {
		font-size: 12px;
	}

	.pagedroite, .pagedroite > div {
		height: 300px;
	}

	.pagedroite h1 {
		margin-top: 10px;
		font-size: 20px;
	}

	.pagedroite ul {
		font-size: 12px;
	}

	.aerelloth p, .hattie p {
		font-size: 13px;
	}
}

@media screen and (max-width:300px){

	.pagegauche h1 {
		font-size: 20px;
		margin-top: 10px;
	}

	.pagegauche h2 {
		font-size: 12px;
		margin-top: 5px;
		margin-bottom: 5px;
	}

	.pagegauche ul {
		font-size: 12px;
	}

	.pagedroite, .pagedroite > div {
		height: 230px;
	}

	.pagedroite h1 {
		margin-top: 10px;
		font-size: 20px;
	}

	.pagedroite ul {
		font-size: 12px;
	}

	.aerelloth p, .hattie p {
		font-size: 12px;
		line-height: 1.5;
	}
}